################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/automotive/FileContentIndex
/.vs/automotive/FileContentIndex/5db33b3d-8a74-4a0d-ad3e-25283593bb09.vsidx
