################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/automotive/FileContentIndex
/.vs/automotive/FileContentIndex/5db33b3d-8a74-4a0d-ad3e-25283593bb09.vsidx
/.vs/automotive/v17/.suo
/.vs/automotive/v17/.suo
/automotive-front/obj/Debug/net6.0-windows/automotive-front.assets.cache
/automotive-front/obj/Debug/net6.0-windows/automotive-front.csproj.AssemblyReference.cache
/automotive-front/obj/Debug/net6.0-windows/automotive-front.csproj.CoreCompileInputs.cache
/automotive-front/obj/Debug/net6.0-windows/automotive-front.csproj.FileListAbsolute.txt
/automotive-front/obj/Debug/net6.0-windows/automotive-front.csproj.GenerateResource.cache
/automotive-front/obj/Debug/net6.0-windows/automotive-front.designer.deps.json
/automotive-front/obj/Debug/net6.0-windows/automotive-front.dll
/automotive-front/obj/Debug/net6.0-windows/automotive-front.pdb
/automotive-front/obj/automotive-front.csproj.nuget.dgspec.json
/automotive-front/obj/project.assets.json
/automotive-front/obj/project.nuget.cache
/automotive-front/bin/Debug/net6.0-windows/automotive-front.deps.json
/automotive-front/bin/Debug/net6.0-windows/automotive-front.dll
/automotive-front/bin/Debug/net6.0-windows/automotive-front.pdb
/automotive-front/bin/Debug/net6.0-windows/MetroFramework.Design.dll
/automotive-front/bin/Debug/net6.0-windows/MetroFramework.dll
/automotive-front/bin/Debug/net6.0-windows/MetroFramework.Fonts.dll
