################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/automotive/FileContentIndex
/.vs/automotive/FileContentIndex/5db33b3d-8a74-4a0d-ad3e-25283593bb09.vsidx
/.vs/automotive/v17/.suo
/.vs/automotive/v17/.suo
/.vs/automotive/DesignTimeBuild/.dtbcache.v2
/.vs/automotive/v17/.futdcache.v2
/.vs/automotive/v17/.suo
/.vs/ProjectEvaluation/automotive.metadata.v7.bin
/.vs/ProjectEvaluation/automotive.projects.v7.bin
*.json
/.vs/*
/bin/*
/obj/*

/automotive.BL/bin/*
/automotive.BL/obj/*